body {
    font-family: sans-serif;
}

.container {
    height: 450px;
    width: 350px;
    border-radius: 8px;
    padding: 10px;
    border: 2px solid #ddd;
}

.box {
    height: 40%;
    background-color: orange;
    border-radius: 8px;
}

.profile {
    position: relative;
    border-radius: 50%;
    height: 150px;
    width: 150px;
    margin-left: 85px;
    bottom: 85px;
}

.info {
    margin-left: 85px;
    margin-top: -82px;

}

.connect {
    height: 30px;
    width: 30px;
    border-radius: 10px;
    padding: 5px;
}

button {
    margin-top: 10px;
    margin-left: 30px;
    padding: 10px;
    background-color: dodgerblue;
    border: none;
    border-radius: 10px;
    color: white;
    transition: all 0.3s ease;
}
button:hover{
    background-color: rgb(21, 105, 188);
    cursor: pointer;
    transform: scale(1.05);
}