.header{
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}


.search-bar {
    font-size: 14px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    width: 300px;
    border-end-start-radius: 15px;
    border-start-start-radius: 15px;
}
.left-section
{
    background-color: lightblue;
    width: 200px;
}
.middle-section
{
    background-color: lightcoral;
    flex: 1;
    margin-left: 180px;
    margin-right: 250px;
    max-width: 600px; /* Means that after 300px the middle section won't grow further even if browser is expand*/
}
.right-section
{
    background-color: pink;
    width: 200px;
}

