/* Import default Youtube font (Roboto) */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', 'sans-serif';
}

/* Main Header styling */
.header {
    display: flex;
    justify-content: space-between;
    border: 2px solid red;
    align-items: center;
    height: 80px;
    padding: 15px;
}

/* Left section sytling start */
.left-section img {
    width: 100px;
    height: 100px;
}

.left-section {
    display: flex;
    align-items: center;
    gap: 25px;
    margin-left: 20px;
    width: 150px;
    height: 50px;
}

.header i {
    cursor: pointer;
}

/* left-section styling end */

/* middle section styling start */
.middle-section {
    display: flex;
    align-items: center;
}

.middle-section form {
    border: 1px solid #ddd;
    height: 45px;
    display: flex;
    align-items: center;
    overflow: hidden;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    
}

.middle-section input {
    flex: 1;
    height: 45px;
    padding: 0 10px;
    border: none;
    outline: none;
    width: 600px;
    font-size: 16px;
    
}

.middle-section button {
    height: 45px;
    width: 60px;
    border: none;
    cursor: pointer;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}
.mic-icon{
    background-color: #eee;
    border-radius: 50%;
    padding: 8px;
    margin-left: 15px;
    height: 40px;
    width: 40px;
}