/* Import default Youtube font (Roboto) */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'roboto', 'sans-serif';
}

.material-icons {
    color: rgb(40, 37, 37);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 15px;
}

.header i {
    cursor: pointer;
    padding: 0px 7px;
}

.header-left {
    display: flex;
    align-items: center;
}

.header-left img {
    width: 100px;
    height: 100px;
    margin-left: 25px;
}

.header-search {
    display: flex;
}

.header-search form {
    background-color: 1px solid #ddd;
    display: flex;
    height: 45px;
    border-radius: none;
}

.header-search input {
    width: 540px;
    padding: 15px;
    border-radius: 40px 0px 0px 40px;
    border: 1px solid #ddd;
    height: 45px;
    cursor: text;
    border-right: none;
    font-size: 16px;
}

.search-mic {
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ededed;
    height: 45px;
    width: 45px;
    margin-left: 20px;
}

.header-search button {
    height: 100%;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    width: 72px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
}

.search-mic:hover {
    background-color: #e5e5e5;
}

.header-right
{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.create-btn {
    display: inline-flex; 
    align-items: center; 
    gap: 4px; 
    position: relative;
    padding: 10px 14px;
    font-size: 16px;
    background-color: #ededed;
    border: none;
    cursor: pointer;
    border-radius: 25px;
    height: 42px;
}

.create-btn i {
    position: static; 
    font-size: 20px; 
}
.header-right img{
    width: 35px;
    height: 35px;
    border-radius: 50px;
    margin-right: 20px;
    cursor: pointer;
}
.create-btn:hover{
    background-color: #d6d6d6;
}