*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: sans-serif;
  background-color: black;
}
.main-container {
  max-width: 500px;
  margin-left: 50px;
  color: white;
}

.Header{
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 40px;
}
.Header p{
  font-size: 1.1rem;
  color: #61DBFB;
  font-weight: bold;
}

.Main h1{
  margin-bottom: 20px;
}
.Main .Main-ul{
  margin-left: 40px;
}
.Main .Main-ul li::marker{
  color: #61DBFB;
  font-size: 1.5rem;
}
.Main .Main-ul li{
  color: rgb(245, 239, 239);
}
