* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(135deg, #2e8b57, #a8d5ba);
    min-height: 100vh;
    font-family: "Poppins", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    color: #2d3436
}

.container {
    width: 100%;
    max-width: 1200px;
    border-radius: 24px;
    background-color: white;
    padding: 2rem;
    box-shadow:
        0 0 12px rgba(46, 139, 87, 0.5),
        0 0 24px rgba(168, 213, 186, 0.6);
}

h1 {
    text-align: center;
    letter-spacing: 3px;
    margin-bottom: 30px;
    color: #1a202c;
    font-weight: 600;
    font-size: 2.2rem;
}

h2 {
    color: #2d3738;
    margin-bottom: 1rem;
    font-size: 1.25rem;
    font-weight: 500;
}

.balance-container {
    text-align: center;
    margin-bottom: 35px;
    padding: 24px;
    border: 1px solid red;
    border-radius: 15px;
    background: linear-gradient(135deg, #a8d5ba, #98c63e);
}

.summary {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
    margin-top: 24px;
}
.balance-container h1{
    font-size: 3rem;
    margin: 15px 0;
}
.income,
.expenses {
    border: 1px solid white;
    padding: 15px 30px;
    border-radius: 10px;
    background-color: white;
    font-size: 1.1rem;
    transition: 0.3s ease;
    box-shadow:
        0 0 10px rgba(255, 255, 255, 0.05),
        0 0 20px rgba(255, 255, 255, 0.2);
}
.income h3{
    color: #059669;
    font-size: 1.1rem;
    font-weight: 600;
}
.expenses h3{
    color: #dc2626;
    font-size: 1.1rem;
    font-weight: 600;
}
.income:hover,
.expenses:hover{
    transform: translateY(-5%);
    cursor: pointer;
}
.income p,
.expenses p{
    font-size: 1.75rem;
    margin-top: 8px;
    font-weight: 600;
}

.income p{
    color: #059669;
}
.expenses p{
    color: #dc2626;
}

.main-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
}