h2
{
    font-family: arial;
    
}

/* Google Search box styling */
.search_box
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 600px;
    height: 48px;
    border-radius: 30px;
    border: none;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.30);
    padding-left: 28px;
    font-size: 16px;
    cursor: text;
}

/* LinkedIn Sign-in Button styling */

p
{
    font-family: arial;
    font-size: 14px;
    margin-bottom: 0px;
}

.sign_in
{
    margin-top: 4px;
    width: 340px;
    height: 20px;
    border-radius: 3px;
}

.primary-btn
{
    margin-top: 20px;
    margin-left: 0px;
    padding: 14px;
    width: 350px;
    border-radius: 40px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: rgb(64, 64, 200);
    border: none;
    font-size: 15px;
    cursor: pointer;
    transition: 0.10s;
}
.primary-btn:hover
{
    background-color: rgb(85, 85, 225) ;
    transition: 0.10s;
}

/* Twitter Post styling */
.photo
{
   width: 50px;        
   height: 50px;       
   border-radius: 50%;
   object-fit: cover;
   margin-right: 5px;
   margin-bottom: -20px;
}
.description
{
    border: none;
    padding: 15px;
    border-radius: 30px;
    width: 350px;
    font-size: 15px;
    text-align: left;
    background-color: rgb(243, 241, 241);
    box-shadow: 1px 1px 5px rgba(0,0,0,0.15);
    cursor: text;
}

.Tweet{
    padding: 15px;
    border: none;
    padding: 15px;
    border-radius: 30px;
    width: 90px;
    color: white;
    background-color: rgb(29, 155, 240);
    font-weight: bold;
    margin-left: 8px;
    cursor: pointer;
}
.Tweet:hover{
    background-color: rgb(65, 179, 255);
}