@import url(https://fonts.googleapis.com/css?family=Roboto:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Roboto",sans-serif;
    background: rgb(188, 248, 188);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container{
    width: 100%; /*Important, To be observed later */
    max-width: 400px; /* Important, To be observed later */
    padding: 20px;
    align-items: center;
    text-align: center;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}
.content{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}
h2{
    color: rgb(220, 13, 13);
    margin-bottom: 20px;
}
input{
    padding: 10px;
    border: 1px solid #b4b4b4;
    border-radius: 4px;
}
button{
    padding: 6px;
    border-radius: 4px;
    background-color: rgb(204, 35, 35);
    color: white;
    border: none;
    transition: background-color 0.3s ease;
}
input:focus{
    border: 1px solid rgb(204, 35, 35);
    outline: none;
    transition: 0.3s ease-in-out;
}
button:hover{
    background-color: black;
    cursor: pointer;
}
button:active{
    background-color: rgb(239, 44, 44);
}
#bookmark-list{
    list-style: none;
    padding: 0;
}
#bookmark-list li{
    background-color:#36454F ;
    color: white;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.9rem;
    transition: 0.3s ease;
}
#bookmark-list li:hover{
    transform: translateX(3px);
    cursor: pointer;
}
#bookmark-list button{
    background-color: white;
    color: black;
    font-weight: bold;
    transition: background-color 0.3s ease;
    padding: 5px 10px ;
}
#bookmark-list button:hover{
    background-color: #e53935;
    color: white;
}
#bookmark-list a{
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 1rem;
}
