@import url(https://fonts.googleapis.com/css?family=Roboto:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    background: #4B0082;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    width: 100%;
    /*Important, To be observed later */
    max-width: 400px;
    /* Important, To be observed later */
    padding: 20px;
    align-items: center;
    text-align: center;
    background-color: #E6E6FA;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}

.content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

h2 {
    color: #720e9e;
    margin-bottom: 20px;
}

input {
    padding: 10px;
    border: 1px solid #b4b4b4;
    border-radius: 4px;
}

button {
    padding: 6px;
    border-radius: 4px;
    background-color: #720e9e;
    color: white;
    border: none;
    transition: background-color 0.3s ease-in-out;
}

input:focus {
    border: 1px solid #720e9e;
    outline: none;
    transition: 0.1s ease-in-out;
}

button:hover {
    background-color: #9b1ad2;
    cursor: pointer;
}

#bookmark-list {
    list-style: none;
    padding: 0;
}

#bookmark-list li {
    background-color: #662d91;
    color: #fff;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.9rem;
    transition: text-shadow 0.3s ease-in-out;
    transition: 0.2s ease-in-out;
    margin-top: 0;
    margin-bottom: 2px;
}

#bookmark-list li:hover {
    transform: translateX(5px);
    cursor: pointer;
    color: #fff;
}

#bookmark-list button {
    background-color: white;
    color: black;
    font-weight: bold;
    transition: background-color 0.3s ease;
    padding: 5px 10px;
}

#bookmark-list button:hover {
    background-color: #e53935;
    color: white;
}

#bookmark-list a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
}

#bookmark-list a:hover, .fa-trash:hover {
    text-shadow:
        0 0 4px rgba(255, 255, 255, 0.6),
        0 0 8px rgba(255, 255, 255, 0.5),
        0 0 14px rgba(255, 255, 255, 0.4);
}
