
h2{
    font-family: Arial;
    width: 480px;
}
p{
    font-family: arial;
    margin-top: 0;
    margin-bottom: 0;
}
.channel-name{
    font-size: 16px;
    color: rgb(71, 69, 69);
    margin-bottom: 4px;
    font-weight: bold;
    margin-top: 5px;

}
.subscriber-count{
    font-family: arial;
    font-size: 14px;
    color: rgb(67, 65, 65);
    margin-bottom: 20px;
}
.description{
    line-height: 24px ;
    width: 400px;
}
.link:hover{
    color: red;
}
.link::after{
    color: rgb(44, 44, 84);
}